@model SaleShop.Models.News

@{
    ViewData["Title"] = "Chi tiết tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section Styles{
    <link href="~/Adminassets/summernote/summernote-bs4.css" rel="stylesheet" />
    <link href="~/Adminassets/summernote/summernote.css" rel="stylesheet" />
}

    <div class="page-header">
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
                <a asp-area="Admin" asp-controller="AdminNews" asp-action="Index" class="breadcrumb-item">Chi tiết tin tức</a>
                <span class="breadcrumb-item active">Chi tiết tin tức @Model.Title</span>
            </nav>
        </div>
    </div>

    <<div class="card-body">
    <h4 class="card-title">Thông tin tin tức : @Model.Title</h4>
    <div class="table-responsive">
        <table class="product-info-table m-t-20">
            <tbody>
                <tr>
                    <td>Tên tin tức:</td>
                    <td>@Model.Title</td>
                </tr>
                <tr>
                    <td>Public</td>
                    <td>@Model.Published</td>
                </tr>
                <tr>
                    <td>IsHot:</td>
                    <td>@Model.IsHot</td>
                </tr>
                
                <tr>
                    <td>IsNewfeed</td>
                    <td>@Model.IsNewfeed</td>
                </tr>
                <tr>
                    <td>Tiêu đề:</td>
                    <td>@Model.Title</td>
                </tr>
                <tr>
                    <td>MetaDescription:</td>
                    <td>@Model.MetaDesc</td>
                </tr>
                <tr>
                    <td>MetaKey:</td>
                    <td>@Model.MetaKey</td>
                </tr>
                <tr>
                    <td>Ảnh đại diện:</td>
                    <td>
                        <img width="200" height="200" src="~/images/news/@Model.Thumb" alt="@Model.Title" />
                    </td>
                </tr>
                <tr>
                    <td>Mô tả sản phẩm:</td>
                    <td>@Html.Raw(Model.Contents)</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>




