@model SaleShop.Models.Page

@{
    ViewData["Title"] = "Thong tin Page" + Model.PageName;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a asp-area="Admin" asp-controller="AdminPages" asp-action="Index" class="breadcrumb-item">Danh sách page</a>
            <span class="breadcrumb-item active">Thông tin page : @Model.PageName</span>
        </nav>
    </div>
</div>

<div class="card-body">
    <h4 class="card-title">Thông tin page : @Model.PageName</h4>
    <div class="table-responsive">
        <table class="product-info-table m-t-20">
            <tbody>
                <tr>
                    <td>Ordering:</td>
                    <td class="text-dark font-weight-semibold">@Model.Ordering</td>
                </tr>
                <tr>
                    <td>Tên page:</td>
                    <td>@Model.PageName</td>
                </tr>
                <tr>
                    <td>Title:</td>
                    <td>@Model.Title</td>
                </tr>
                <tr>
                    <td>Meta Description</td>
                    <td>@Model.MetaDesc</td>
                </tr>
                <tr>
                    <td>Meta Key</td>
                    <td>@Model.MetaKey</td>
                </tr>                                
                <tr>
                    <td>Ảnh đại diện:</td>
                    <td>
                        <img width="200" height="200" src="~/images/pages/@Model.Thumb" alt="@Model.Title" />
                    </td>
                </tr>
                <tr>
                    <td>Mô tả sản phẩm:</td>
                    <td>@Html.Raw(Model.Contents)</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
